# Env vars
export PATH="$HOME/.local/bin:$PATH"
export PATH="$HOME/.cargo/bin:$PATH"

# Composer
picom &
# Network
nm-applet &
# Keyboard Layout
setxkbmap es &
# Bluetooth
bluetooth-autoconnect -d &
blueman-applet &
# Automount Devices
udiskie -t &
# Overlay Bar
xob-pulse-py | xob -s main &

# Wallpaper
#nitrogen --restore &
feh --bg-scale $HOME/dotfiles/wallpapers/1.png &
